
@media(max-width: 400px){
    .contactMe{
        text-align: center;
    }
    .contactMe img{
        display: block;
        visibility:visible;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        width: 50%;
        height: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-color: rgb(0, 0, 0);
        border-style:solid;
        border-width:5px;
    }
    
    .contactMe h1{
        margin-top:5%;
        background-color: beige;
    }
    .footer{
        margin-top: 20%;
    }}